.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
}
h1 {
  text-align: center;
}

.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-style: solid;
  border-width: 1px;
  transition: all 0.5s linear;
}

.O {
  background-color: rgb(114, 216, 241);
}
.X {
  background-color: rgb(249, 164, 6);
}
.empty {
  background-color: rgb(179, 129, 37);
}
.Win {
  background-color: rgb(58, 218, 58);
}

.end {
  font-size: 3rem;
  background-color: orange;
}
